- def id()
  #code here
!!!
%html
  %head
    %title Betri hverfi - kosning verkefna í hverfum Reykjavíkur
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %meta{:content => "EN", "http-equiv" => "Content-Language"}/
    %meta{:content => "FOLLOW,INDEX", :name => "robots"}/
  %body
  %form{:name => 'vote', :action => ""}
    #wrapper
      #header
        #corner
          %a{:href => "#", :title =>"Should open http://ibuar.is in a overlaid popup"}
            %img{:alt => "", :border => "0", :src => "/assets/logo-ibuar.png"}/
          %br/
          %span.corner-txt fyrir
          %br/
          %a{:href => "#", :title => "Should open http://betrireykjavik.is in a overlaid popup"}
            %img{:alt => "", :border => "0", :src => "/assets/logo-br.png"}/
        #blurbtext
          %p
            Kjóstu um verkefni í
            = succeed "." do
              %b einu hverfi að eigin vali
            Þú getur kosið um bæði nýframkvæmdir og viðhaldsverkefni í sama hverfinu.
        #logo
          %img{:alt => "", :border => "0", :src => "/assets/logo.png"}/
        #submenu
          %ul
            %li
              %a{:href => "#"} Hjálp
            %li
              %a{:href => "#"} Reglur
            %li
              %a{:href => "/votes/logout" } Útskrá
        #head
          %h1 Authentication options
          - if flash[:notice]
            %h1
              = flash[:notice]
        #authentication_options
          = link_to image_tag("/assets/island.is.png"), @island_is_url