!!!
%html{:lang => "en"}
  %head
    %meta{:charset => "utf-8"}/
    %meta{:content => "width=device-width, minimum-scale=1.0, initial-scale=1.0, user-scalable=yes", :name => "viewport"}/
    %meta{:content => "Hverfið mitt 2017 - rafræn kosning", :property => "og:title"}/
    %meta{:content => "Hverfið mitt 2017 er samráðsverkefni íbúa og stjórnsýslu um forgangsröðun og úthlutun fjármagns til smærri nýframkvæmda- og viðhaldsverkefna í hverfum Reykjavíkurborgar. Taktu þátt :)", :property => "og:description"}/
    %meta{:content => "website", :property => "og:type"}/
    %meta{:content => "https://s3-eu-west-1.amazonaws.com/oav-direct-assets/hverfid_mitt_2016/hausMynd2.png", :property => "og:image"}/
    %meta{:content => "#{request.protocol + request.host}", :property => "og:url"}/
    %meta{:content => "Hverfið mitt 2017 - rafræn kosning", :property => "og:site_name"}/
    %title Hverfið mitt 2017 - rafræn kosning
  %body
    %div
      = "#{@item.name}"
