// Place all the styles related to the Votes controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/




/* 			CSS base						*/

body {				background:url('bg.png') top repeat-x #fff;
					margin:0px; padding: 0px;

					font-size: 0.8em;
					font-family: arial, geneva, sans-serif;
					}


p { margin:0px}

a:link {		color: #336699; text-decoration: none; }
a:visited  {	color: #003366; text-decoration: none; }
a:hover {		color: #003366; text-decoration: none; }

img { border:0;}

/* 			id's 						*/

#wrapper {			width: 950px; margin:0px auto; background-color: #fff;  height: 100%;   }
#header {			padding: 10px 10px 0px 10px;     }
#footer {			margin: 20px 0 20px 70px     }
#footer span, #footer a {border-right: 1px #999 dotted;padding-left: 5px; padding-right: 5px; }

#logo {				width: 330px; }
#logo img {				height: 65px; }
#blurbtext {		width: 280px; float: right; margin: 15px 50px 0 0;  }
#blurbtext_wide {		width: 100%; margin-top: 10px; }
#blurbtext p, #blurbtext_wide {		color: #f00;  }

#submenu {			width: 690px; background: url('/assets/headerbase.png') top repeat-x; text-align: right; margin-top: 0px; padding: 3px;  }

#submenu ul {		list-style-type: none; }
#submenu ul li {	display: inline; margin-left: 10px;   }
#corner {			width: 200px; float:right;  }
.corner-txt {		font-size: 85%; font-style: italic; margin: 5px 0 0 80px;  }




#content {			margin: -30px 0 0 10px;  }
#content.popup {			margin: 0px;}



.info {			    margin: 0px; position:relative; float:right;}
.info img {	 padding-right:8px; padding-top: 4px;}
.info a {}
.ibuar_logo {float:right;margin-bottom:2px;}
.br_logo {margin-left: 43px; margin-top: 3px;}


h1 {				margin: 0px; display: inline; color: #333; font-size: 150%;  }
h2 {				margin: 0px; display: inline; color: #cc3333;  font-size: 150%;  }
h3 {				margin:0px; display:inline; }
iframe{          	border: 0px; width: 750px; height:600px;}


.content-select {	font-size: 13px; margin-left: 10px;  }



#leftcol {		margin-top: 20px; width: 450px; float: left;   }
#rightcol {		margin-top:20px; width: 450px; margin-left: 475px;  }


#votes_ny {		 	background: url('bg-vote.png') repeat-x; width: 446px; height: 80px; margin:10px 0px; padding:2px; }
#votes_vid {		background: url('bg-vote.png') repeat-x;width: 446px; height: 80px;  margin:10px 0px; padding:2px;   }

.header-txt {		margin-left:20px; font-weight: bold; }
.header-price {		margin-left: 240px; font-weight: bold;  }
.header-price-sml {	font-size: 85%;  font-weight: normal; }

.list ul {			list-style-type: none; margin-top:10px; padding:0px;    }
.list ul li {		border-bottom: 1px solid #ddd; padding:3px; width:410px; display:inline-table;}

.list ul li.selected {		background-color: #369; color:#fff; }
.list ul li.disabled {		background-color: #D9DFE8; color: #aaa; }

.list ul li .num {				font-size: 14px; font-weight: bold; margin-right: 10px; text-transform:capitalize; }
.list ul li .txt {				 }
.list ul li .price {		font-size: 120%; margin-right: 20px; float:right;  }
.list ul li .zoom {			float:right;}

#vote {				clear:both; width: 100%; text-align:center;  }
#vote img {			width: 125px;    }




.content-text {		width: 400px;  }
#hverfi {			width: 250px; float:right; font-size: 85%; color: #333; line-height: 150%;  }
#hverfi p {			margin-bottom: 5px;  }

.vote-3 {				width: 105px; background-color: #336699; display:inline-block; position:relative; height: 100%; text-align:center;  }
	.v-name {		font-weight:bold; margin-top: 10px; font-size: 200%; color: #fff;  }
	.v-price {		color: #fff;  }

/* Chrome and Safari hack */
@media screen and (-webkit-min-device-pixel-ratio:0)
{}
