

li.selected {
	background:	#70aa70;
}

li.disabled {
	background:	#555;
}

#votes div {
	float:		left;
	display:	inline-block;
	height:		29px;
	background:	#369;
    color: #fff;
	margin:		1px 0 0 1px;
   font-weight: bold;
   padding-top: 12px;
   font-size: 16px;
   text-transform:capitalize;
   float:left;
   width:10px;
}


#votes_totals
 {
    margin-bottom: 10px;
 }
li {
	cursor:		pointer;
}

a {
	color:		#c00 !important;
	text-decoration: none;
}

