%div#footer
  %span.votecount
    = render :partial=>"votecount"
  %a{:href => "mailto:kosning@rvk.is"} Hafðu samband
  %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/rules_info' })"} Reglur
  %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/help_info' })"} Hjálp
  %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/better_reykjavik_info' })"} Betri Reykjavík
  %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/better_neighborhoods_info' })"} Betri hverfi
  %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/ibuar_info' })"} Íbúar ses
  %a{:href => "#", :onclick=>"jQuery.facebox({ ajax: '/votes/rvk_info' })"} Reykjavíkurborg


