%div#footer
  %span.votecount
    = render :partial=>"votecount"
  %a{:href => "mailto:kosning@rvk.is"} Hafðu samband
  %a{:href => "reglur"} Reglur
  %a{:href => "hjalp"} Hjálp
  %a{:href => "http://betrireykjavik.is"} Betri Reykjavík
  %a{:href => "http://betrireykjavik.is/about/choose_partner"} Betri hverfi
  %a{:href => "http://ibuar.is"} Íbúar ses
  %a{:href => "http://www.rvk.is"} Reykjavíkurborg

