#flash.popup
  - if flash[:notice]
    %h2
      = flash[:notice]
    %br
    %br
#content
  #welcome
    = raw t :choose_authentication
  #authentication_options
  = link_to image_tag("/assets/island.is.logo.png", :class => "auth_logos", :alt=>"Island.is auðkenning"), @island_is_url

-#  = link_to image_tag("/assets/rafraen_reykjavik.gif", :class => "auth_logos"), @rr_url
