!!!
%html{:lang => "en"}
  %head
    %meta{:content => "text/html; charset=UTF-8", "http-equiv" => "Content-Type"}/
    %title Innskráning
    %meta{:charset => "utf-8"}/
    %meta{:content => "IE=edge,chrome=1", "http-equiv" => "X-UA-Compatible"}/
  %body
    - if @error
      %p
        = @error
      %p
        %button#closeButton{:onclick => "window.close()"} Loka glugga
    - else
      :javascript
        if (/iPad|iPhone|iPod/.test(navigator.userAgent) && !window.MSStream && /FBAN/.test(navigator.userAgent)) {
          window.location = "/#/area-ballot/completePostingOfVoteFromSafariInApp"
        } else {
          try {
            setTimeout(function () {
              window.opener.postMessage("samlLogin","*");
              window.close();
            }, 400);
          } catch(err) {
            setTimeout(window.close, 400);
          }
        }
