#head
  %h1 Kosningasíða
%form{:method => 'post', :action => ""}
  #columns
    #left_column.left
      = render :partial => "priorities", :locals=>{ :priorities => @reykjavik_budget_ballot.construction_priorities }
    #right_column.right
      = render :partial => "priorities", :locals=>{ :priorities => @reykjavik_budget_ballot.maintenance_priorities }
  #submit
    %input{:type => :submit, :value => "Smelltu hér til að kjósa"}