#content.popup
  %h1 Útskráning
  %p Vertu viss um að þú sért búin(n) að kjósa áður en þú skráir þig út.
  %p
    Þú þarft að vera búin(n) að smella á stóra Kjósa hnappinn neðst á kosningasíðunni til að hafa kosið.
    %strong Með því að smella á tengilinn að neðan þá ferðu burt af kosningavefnum!
  %a{:href => "/votes/logout", :title => "Útskrá mig af kosningavef"} Útskráning af kosningavef
