#popup.content2
  #bh_container
    #bh_header
      %img{:alt => "Betri hverfi", :height => "74", :src => "/assets/betri_hverfi_logo.png", :width => "340"}/
    #bh_name
      %h4
        = raw @name
    #bh_leftcol
      .rok
        %p
          = raw @description
    - if @link
      #bh_footer
        %p
          %a{:href => @link, :target=>"_blank"}> Upphafleg hugmynd á Betri Reykjavík
          \- Opnast í nýjum glugga
