#content.popup
  %h1 Upplýsingar um Reykjavíkurborg
  %p Smá texti um BR og tilgang vefsins og virkni.
  %p
    %strong Með því að smella á tengilinn að neðan þá ferðu burt af kosningavefnum!
  %a{:href => "http://www.rvk.is", :title => "Fara af kosningu og á Betri Reykjavík"} Fara af kosningu og á vefinn Betri Reykjavík
