#content
  #timeline
    = raw t :timeline_2
  %h3
    = t :choose_a_neighbourhood
  %h3
    = t :choose_a_neighbourhood_2
  #area_options
    %img{:height => "566", :src => "/assets/betrihverfi_kort.png", :usemap => "#Map", :width => "789", :alt => "Veldu hverfi"}/
    %map#Map{:name => "Map"}
      %area{:title => "Árbær", :alt => "Árbær", :coords => "750,562,538,565,521,540,543,520,509,518,491,489,496,482,500,463,514,439,505,422,452,400,428,407,416,397,399,395,385,342,419,354,548,352,563,392,559,437,569,468,640,510,680,544,719,550", :href => "/votes/get_ballot?neighborhood_id=1", :shape => "poly"}/
      %area{:title => "Breiðholt", :alt => "Breiðholt", :coords => "504,519,475,510,413,561,350,505,344,462,379,452,396,413,396,394,407,399,415,396,426,408,451,400,502,421,514,438,498,463,489,488", :href => "/votes/get_ballot?neighborhood_id=2", :shape => "poly"}/
      %area{:title => "rafarholt og Úlfarsárdalur", :alt => "Grafarholt og Úlfarsárdalur", :coords => "787,233,732,218,733,199,665,211,646,230,631,255,610,306,569,343,551,350,567,388,563,431,571,469,635,504,682,542,754,562,778,562,785,554", :href => "/votes/get_ballot?neighborhood_id=3", :shape => "poly"}/
      %area{:title => "Grafarvogur", :alt => "Grafarvogur", :coords => "665,209,629,259,609,303,568,346,549,350,422,353,395,343,422,294,458,277,444,241,460,184,467,165,545,137,486,113,458,84,457,59,470,45,516,42,580,90,573,154,606,153,662,110", :href => "/votes/get_ballot?neighborhood_id=4", :shape => "poly"}/
      %area{:title => "Hlíðar", :alt => "Hlíðar", :coords => "255,386,394,412,396,398,383,340,319,312,330,284,301,247,272,246,252,304", :href => "/votes/get_ballot?neighborhood_id=5", :shape => "poly"}/
      %area{:title => "Háaleiti og Bústaðir", :alt => "Háaleiti og Bústaðir",  :href => "/votes/get_ballot?neighborhood_id=6", :coords => "202,216,209,224,220,223,272,247,251,304,251,386,238,386,175,353,177,343,166,286", :shape => "poly"}/
      %area{:title => "Kjalarnes", :alt => "Kjalarnes", :coords => "628,4,786,4,787,71,765,64,744,83,721,100,681,101,658,91,638,113,620,118,604,102,603,88,635,67,651,41", :href => "/votes/get_ballot?neighborhood_id=7", :shape => "poly"}/
      %area{:title => "Laugardalur", :alt => "Laugardalur", :coords => "419,208,421,234,413,280,417,288,417,302,396,341,321,314,332,285,296,245,271,246,222,222,205,217,208,204,220,196,356,140", :href => "/votes/get_ballot?neighborhood_id=8", :shape => "poly"}/
      %area{:title => "Miðborg", :alt => "Miðborg", :coords => "204,203,203,218,163,287,176,345,172,352,131,350,101,322,110,299,104,270,108,267,96,251,100,241,99,234,123,187,127,163,158,162", :href => "/votes/get_ballot?neighborhood_id=9", :shape => "poly"}/
      %area{:title => "Vesturbær", :alt => "Vesturbær", :coords => "3,160,21,193,59,288,101,322,107,297,103,275,107,268,95,251,101,243,95,237,122,188,125,160,151,146,146,101,124,103,9,150", :href => "/votes/get_ballot?neighborhood_id=10", :shape => "poly"}/



