#content
  %h1
    = t :choose_a_neighbourhood
  #area_options
    %img{:height => "477", :src => "/assets/betrihverfi_kort.png", :usemap => "#Map", :width => "670", :alt => "Veldu hverfi"}/
    %map#Map{:name => "Map"}
      %area{:alt => "Árbær", :coords => "494,352,483,380,481,418,496,425,514,428,534,412,535,396,523,365,586,359,586,340,528,340,516,302,512,281,379,289,382,307,426,333", :href => "/votes/get_ballot?neighborhood_id=1", :shape => "poly"}/
      %area{:alt => "Breiðholt", :coords => "365,333,352,377,351,405,275,409,274,426,353,427,356,456,371,469,395,478,429,451,458,428,463,397,486,357,439,342", :href => "/votes/get_ballot?neighborhood_id=2", :shape => "poly"}/
      %area{:alt => "Grafarholt og Úlfarsárdalur", :coords => "482,255,487,265,504,273,512,282,539,280,543,311,660,309,658,278,592,254,561,239,535,233,506,234", :href => "/votes/get_ballot?neighborhood_id=3", :shape => "poly"}/
      %area{:alt => "Grafarvogur", :coords => "496,279,372,288,357,283,381,238,407,220,398,189,390,174,394,165,414,166,443,176,442,139,471,89,452,75,450,59,556,59,603,41,607,52,596,81,548,107,533,172,548,206,532,218,506,217,502,229,488,242,475,240,470,263", :href => "/votes/get_ballot?neighborhood_id=4", :shape => "poly"}/
      %area{:alt => "Hlíðar", :coords => "241,178,222,229,229,312,259,352,328,352,373,318,366,296,354,288,353,266,346,260,286,239,290,219,296,211,278,186,262,173", :href => "/votes/get_ballot?neighborhood_id=5", :shape => "poly"}/
      %area{:alt => "Háaleiti og Bústaðir",  :href => "/votes/get_ballot?neighborhood_id=6", :coords => "182,144,143,235,153,275,143,277,138,284,138,288,155,287,154,314,204,315,226,296,223,256,222,227,240,179,241,153,239,132,200,135", :shape => "poly"}/
      %area{:alt => "Kjalarnes", :coords => "609,53,606,65,616,79,619,100,590,116,590,130,664,130,668,86,668,35,627,5,570,4,555,32,559,41,594,30,616,45,625,53", :href => "/votes/get_ballot?neighborhood_id=7", :shape => "poly"}/
      %area{:alt => "Laugardalur", :coords => "348,259,286,239,290,220,297,210,277,183,264,173,242,177,240,130,255,110,249,101,271,86,309,73,340,88,441,87,441,102,352,104,373,130,383,161,387,183,386,205,369,213,365,250", :href => "/votes/get_ballot?neighborhood_id=8", :shape => "poly"}/
      %area{:alt => "Miðborg", :coords => "182,142,193,113,211,112,212,98,148,98,140,100,116,100,109,109,115,116,107,142,98,140,93,150,98,157,88,182,92,183,88,198,100,207,132,183,164,193,161,196", :href => "/votes/get_ballot?neighborhood_id=9", :shape => "poly"}/
      %area{:alt => "Vesturbær", :coords => "90,271,115,211,113,199,101,210,86,199,91,186,86,183,97,159,92,151,97,140,105,142,109,132,108,129,115,118,108,110,111,102,118,100,139,100,127,62,147,61,147,56,124,53,122,50,103,53,77,81,59,108,3,112,67,232,2,251,3,269", :href => "/votes/get_ballot?neighborhood_id=10", :shape => "poly"}/



